@import "variables";
@import "mixins";

.toolbar {
  position: absolute;
  left: 0;
  top: $header-height;
  height: $toolbar-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 20px;
  width: 100%;

  &__btn { 
      @include button(green)
  }
}
